{% extends "layout.html" %}

{% block contents %}
    <div class="llCommentCreate">
        <form role="form" method="post"> 
        </br>
        </br>
            <div class="form-group">
                <label for="article_create_author">url설정</label>
                <input type="text" name="url" class="form-control" id="article_create_author" placeholder="url을 입력하세요"/>
            </div>
            <div class="form-group">
                <a href="{{ url_for('set_naverblock', block_num=block_num)}}">
                    <img src="./static/images/naver.PNG" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_googleblock', block_num=block_num)}}">
                <img src="./static/images/google.PNG" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_facebookblock', block_num=block_num)}}">
                <img src="./static/images/facebook.PNG" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_daumblock', block_num=block_num)}}">
                <img src="./static/images/daum.PNG" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_youtubeblock', block_num=block_num)}}">
                <img src="./static/images/youtube.jpg" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_twitterblock', block_num=block_num)}}">
                <img src="./static/images/twitter.jpg" class="img-semi-rounded">
                </a>
                <a href="{{ url_for('set_instagramblock', block_num=block_num)}}">
                <img src="./static/images/instagram.png" class="img-semi-rounded">
                </a>
            </div>
            <div class="form-group">
                <label for="article_create_author">위젯설정</label>
                <input type="text" name="widget" class="form-control" id="article_create_author" placeholder="위젯을 고르세요"/>
            </div>
            <div class="form-group">
                <input type="hidden" name = "block_num" value = "{{block_num}}"/>
            </div>

            <button type="submit" class="btn btn-default">설정</button>
        </form>
    </div>
{% endblock %}