{% extends "layout.html" %}

{% block contents %}
    <div class="llCommentCreate">
        <form role="form" method="post"> 
        </br>
        </br>
            
            <div class="form-group">
                <label for="article_create_author">위젯설정</label>
            </div>
            <div class="form-group">
                <a href="{{ url_for('set_naversearch')}}">
                    <img src="./static/images/naver_search.png" class="img-middle-rounded">
            </div>


            
        </form>
    </div>
{% endblock %}