{% extends "layout.html" %}

{% block contents %}
    </br>
    </br>

    <div class = "division">
    {% if search == "naver" %}
        <div class = "indivision">
            <img src="./static/images/naver_logo.PNG" class="naver-logo">
            <input type="text" class="greenbox" name="text" id = "input_url" maxlength="255">
            <button type="submit" class="naver-search" id = "naver_btn_reserve"></button>
        </div>
    {% elif search == "google" %}
        <div class = "indivision">
            <img src="./static/images/google_logo.PNG" class="google-logo">
            <input type="text" class="googlebox" name="text" id = "input_url" maxlength="255">
            <a class="detail-btn-title" id="google_btn_reserve"><img src="./static/images/google_button.PNG" class="google-search"></a>
        </div>

    {% endif %}
    
    <div class = "division">
    {% if division_col %}
        {% for row in range(division_row) %}
            {% for col in range(division_col) %}
                
                {% if (row*division_col)+col == 0 and (url_dic["block_url0"] or widget_dic["block_widget0"] ) %}
                    <div class = "semi-division">
                    {% if url_dic["block_url0"] %}
                        <a href="{{ url_for('unset_block', block_num=(row*division_col)+col) }}">
                        &times;
                        </a>
                        </button>
                        <a href="{{url_dic["block_url0"]}}">

                        {% if url_dic["block_url_img0"] %}
                            <img src="{{url_dic["block_url_img0"]}}" class="img-rounded">
                        {% else %}  
                            <img src="./static/images/noimgage.png" class="img-rounded">
                        {% endif %} 
                        
                        </a>
                    {% elif widget_dic["block_widget0"] %}
                        
                        {{ widget_dic["block_widget0"] }}
                        
                    {% endif %}
                    </div>
                    

                {% elif (row*division_col)+col == 1 and (url_dic["block_url1"] or widget_dic["block_widget1"] ) %}
                    <div class = "semi-division">
                    {% if url_dic["block_url1"] %}
                        <a href="{{ url_for('unset_block', block_num=(row*division_col)+col) }}">
                        &times;
                        </a>
                        </button>
                        <a href="{{url_dic["block_url1"]}}">
                        {% if url_dic["block_url_img1"] %}
                            <img src="{{url_dic["block_url_img1"]}}" class="img-rounded">
                        {% else %}  
                            <img src="./static/images/noimgage.png" class="img-rounded">
                        {% endif %}
                        </a>
                    {% elif widget_dic["block_widget1"] %}
                            {{ widget_dic["block_widget1"] }}
                    {% endif %}
                    </div>
                {% elif (row*division_col)+col == 2 and (url_dic["block_url2"] or widget_dic["block_widget2"] ) %}
                    <div class = "semi-division">
                    {% if url_dic["block_url2"] %}
                        <a href="{{ url_for('unset_block', block_num=(row*division_col)+col) }}">
                        &times;
                        </a>
                        </button>
                        <a href="{{url_dic["block_url2"]}}">
                        {% if url_dic["block_url_img2"] %}
                            <img src="{{url_dic["block_url_img1"]}}" class="img-rounded">
                        {% else %}  
                            <img src="./static/images/noimgage.png" class="img-rounded">
                        {% endif %}
                        </a>
                    {% elif widget_dic["block_widget2"] %}
                        {{ widget_dic["block_widget2"] }}
<!--                        
                        <div class = "indivision">
                        <input type="text" class="greenbox" name="query" maxlength="255">

                        </div>
-->
                    {% endif %}
                    </div>
                    
                {% elif (row*division_col)+col == 3 and url_dic["block_url3"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url3"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 4 and url_dic["block_url4"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url4"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 5 and url_dic["block_url5"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url5"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 6 and url_dic["block_url6"] %}
                    <div class = "semi-division">  
                    <a href="{{url_dic["block_url6"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 7 and url_dic["block_url7"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url7"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 8 and url_dic["block_url8"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url8"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 9 and url_dic["block_url9"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url9"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 10 and url_dic["block_url10"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url10"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 11 and url_dic["block_url11"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url11"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 12 and url_dic["block_url12"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url12"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 13 and url_dic["block_url13"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url13"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 14 and url_dic["block_url14"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url14"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% elif (row*division_col)+col == 15 and url_dic["block_url15"] %}
                    <div class = "semi-division">
                    <a href="{{url_dic["block_url15"]}}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% else %}
                    <div class = "semi-division">
                    <a href="{{ url_for('set_block', block_num=(row*division_col)+col) }}">
                    <img src="./static/images/noimgage.png" class="img-rounded">
                    </a>
                    </div>
                {% endif %}
            {% endfor %}
        </br>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}

