<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!--<div class="container">-->
	<!-- Brand and toggle get grouped for better mobile display -->
	<!-- navbar 버튼 -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
	  	</button>

	  	<a class="navbar-brand example_3" href="{{ url_for('article_list')}}">
	  		MyMornings.com
	  	</a>

	  	<div class = "navbar-brand example_2">
	  		<a href="" class = "example_4">
	  			<div class = "navbar-brand example">
	  				샘플화면
	  			</div>
	  		</a>

	  		<a href="" class = "example_4">
	  			<div class = "navbar-brand example">
	  				사용법/QnA
	  			</div>
	  		</a>
	  	</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  		<ul class="nav navbar-nav navbar-right">
		  		<div class="user-nav">
					<li>
					{% if g.user_name %}
					<a href="">{{g.user_email}}</a>
					<a href="{{ url_for('log_out')}}">로그아웃</a>
					{% else%}
					<a href="{{ url_for('log_in') }}">로그인</a>
					<a href="{{ url_for('user_join') }}">회원가입</a>
					{% endif%}
					</li>
				</div>
				<!--예비용 div -->
				<!--
				<div class = "navbar-right example"></div>
				<div class = "navbar-right example"></div>
				-->
			</ul>
        <!---->
        <!--이페이지를 홈페이지로-->
        <!---->
			<ul class="nav navbar-nav navbar-right">
          		<li class="nav-menu">
            		<a href="javascript:;" onclick="this.style.behavior = 'url(#default#homepage)'; this.setHomePage('http://mymornings.com');" class="">
              			<img src="{{ url_for('static', filename='images/make_homepage.png') }}" class="nav-menu-img show_web">
	            		<div class="show_mobile">
	            			이 페이지를 홈페이지로
	            		</div> 
	            	</a>           		
          		</li>
        	</ul>			
			{% if g.user_name %}
		<!---->
        <!--새페이지만들기 메뉴-->
        <!---->
			<ul class="nav navbar-nav navbar-right">
          		<li class="nav-menu">
            		<a class="">
              			<img src="{{ url_for('static', filename='images/new_page.png') }}" class="nav-menu-img show_web">
              			<div class="show_mobile">
                			새 페이지 만들기
              			</div>
            		</a>
          		</li>
        	</ul>
		<!---->
        <!--페이지 불러오기 메뉴-->
        <!---->
			<ul class="nav navbar-nav navbar-right">
          		<li class="nav-menu">
            		<a class="dropdown-toggle" data-toggle="dropdown">
              			<img src="{{ url_for('static', filename='images/load_page.png') }}" class="nav-menu-img show_web">
              			<div class="show_mobile">
                			페이지 불러오기
              			</div>
            		</a>
            		<ul class="dropdown-menu" role="menu">
						<li><a href="#">(페이지 이름)</a></li>
				  	</ul>
          		</li>
        	</ul>
		<!---->
        <!--페이지저장 메뉴-->
        <!---->
			<ul class="nav navbar-nav navbar-right">
          		<li class="nav-menu">
            		<a class="">
              			<img src="{{ url_for('static', filename='images/save_page.png') }}" class="nav-menu-img show_web">
              			<div class="show_mobile">
                			페이지 저장하기
              			</div>
            		</a>
          		</li>
        	</ul>
        <!---->
        <!--페이지 편집 메뉴 + 슬라이드토글-->
        <!---->
	        <ul class="nav navbar-nav navbar-right">
	          	<li class="nav-menu">
	            	<a id="" class="edit_menu">
	              		<img src="{{ url_for('static', filename='images/edit_page.png') }}" class="nav-menu-img show_web">
	            	
	            		<div class="show_mobile">
	            			페이지 편집하기
	            		</div>
	            	</a>
	          	</li>
	        </ul>
		<!---->
	    <!-- 페이지 편집툴 모음 -->
	    <!---->
        	<div class="nav navbar-nav navbar-right toolbar">
	          	<div class="nav-menu">
	            	<a href="">
	              		<img src="{{ url_for('static', filename='images/edit_layout.png') }}" class="nav-menu-img tool show_web">
	              	</a>
	              	<a href="">
	            		<img src="{{ url_for('static', filename='images/edit_bookmark.png') }}" class="nav-menu-img tool show_web">
	            	</a>
	            	<a href="">
	            		<img src="{{ url_for('static', filename='images/edit_widget.png') }}" class="nav-menu-img tool show_web">
	            	</a>
	            	
	            	<a href="">
	            		<img src="{{ url_for('static', filename='images/edit_background.png') }}" class="nav-menu-img tool show_web">
	            	</a>
	          	</div>
	        </div>	        
			{% endif %}
        	
	</div><!-- /.navbar-collapse -->
  <!--</div>--><!-- /.container-fluid -->
</nav>